.verticalLine {
    background-color: #ccc;
    height: 40px;
    width: 3px;
}


.stepItem {
    @apply relative flex flex-col justify-center items-center w-36;
}

.stepItem:not(:first-child):before {
    @apply content-[''] bg-slate-200 absolute w-[3px] h-[120px] top-[-106px] left-[11px] transform -translate-x-2/4;
}

.step {
    @apply w-[14px] h-[14px] flex items-center justify-center z-10 relative bg-slate-300 rounded-full font-semibold text-white cursor-pointer;
}

.active .step {
    @apply bg-default-primary;
}
