@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 2000px;
  margin: auto;
}
.slick-track {
  width: 1800px; /* Adjust this value to your desired width */
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots li button:before {
  color:#0F5DC4 !important;
  font-size: 10px !important;
}