@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 2000px;
  margin: auto;
}
.linearColor ::before{
  content: "";  
  background-color: #005cff;
  position: absolute;
  width: 30%; 
  height: 100%;
  top: 0;
  left: 0; 
  filter: drop-shadow(8px 8px 10px #005cff);
  /* filter: blur(8px); */
  border-radius: 100%;

  z-index: -1;

}
.slick-track {
  width: 100%; 
}
.slick-dots li {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.slick-dots li button:before {
  color:#005cff !important;
  font-size: 10px !important;
}
/* Container holding the carousel */

.custom-slide {
  width: 100% !important; /* Set your desired width */
/* height:100% !important; */
}
/* Style for carousel items (slides) */

.carousel-container {
  width: 100%; /* Set a default width */
}
.slick-arrow slick-next{
  display: none;
}
.css-ws89sb-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin:0 !important
}